﻿@model FirstBitBucket.Models.Persons

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Persons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vchFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vchFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vchLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vchLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vchStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vchStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vchCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vchCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.vchName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.vchName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
