﻿@model IEnumerable<FirstBitBucket.Models.Persons>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vchFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vchLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vchStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intZip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vchCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.vchName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vchFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vchLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vchStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intZip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vchCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.vchName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
